/common/aladdin

/SHOC/bb_gemm/bb_gemm
/SHOC/fft/fft
/SHOC/md/md
/SHOC/pp_scan/pp_scan
/SHOC/reduction/reduction
/SHOC/sha256/sha256
/SHOC/ss_sort/ss_sort
/SHOC/stencil/stencil
/SHOC/triad/triad

/SHOC/sha256/explore
/SHOC/triad/output.data

/SHOC/*/*-instrumented
/SHOC/*/labelmap
/SHOC/*/example/dddg_parse_progress.out
/SHOC/*/example/out.csv
/SHOC/*/example/*_summary

/MachSuite/aes/*/aes
/MachSuite/backprop/*/backprop
/MachSuite/bfs/*/bfs
/MachSuite/fft/*/fft
/MachSuite/kmp/*/kmp
/MachSuite/md/*/md
/MachSuite/nw/*/nw
/MachSuite/sort/*/sort
/MachSuite/spmv/*/spmv
/MachSuite/stencil/*/stencil

/MachSuite/*/*/*-instrumented
/MachSuite/*/*/*-gem5-accel
/MachSuite/*/*/labelmap
/MachSuite/*/*/output.data
/MachSuite/*/*/generate

/integration-test/with-cpu/test_aes/aes
/integration-test/with-cpu/test_fft/fft
/integration-test/with-cpu/test_md/md
/integration-test/with-cpu/test_spmv/spmv
/integration-test/with-cpu/test_stencil/stencil

*.o
*.llvm
*.s
*.gz
